{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <a href="{% url 'invoices:invoice_create' %}">
            <button type="button" class="btn btn-info btn-lg">NEW Invoice</button>
        </a>
        <br>
        <br>
        <form action="" method="get">
            <table class="table table-bordered table-sm">
                <tr class="bg-info">
                {% for field in filter.form %}
                    <td>
                        {{field.label_tag}} {{field}}
                    </td>
                    {% if forloop.counter|divisibleby:"3" %}
                        </tr>
                        <tr class="bg-info">
                    {% endif %}
                {% endfor %}
            </table>
            <input type="submit" value="filter" class="btn-info">
        </form>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">Patient Name</th>
                    <th scope="col">Personal ID</th>
                    <th scope="col">Insurance Company</th>
                    <th scope="col">Amount of Money</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in filter.qs %}
                    <tr>
                        <td>{{invoice.patient_id.first_name}} {{invoice.patient_id.last_name}}</td>
                        <td>
                            <a href="{% url 'patients:patient_detail' pk=invoice.patient_id.person_id %}">
                                {{invoice.patient_id.person_id}}
                            </a>
                        </td>
                        <td>{{invoice.patient_id.insurance}}</td>
                        <td>{{invoice.amount}}</td>
                        <td>{{invoice.creation_date}}</th>
                        <td>
                            <a href="{% url 'invoices:invoice_detail' pk=invoice.pk %}">
                                <button type="button" class="btn-info">detail</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}