{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        {% if not form.instance.pk %}
            <h1>Create Invoice</h1>
        {% else %}
            <h1>Update Invoice</h1>
        {% endif %}
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% if not form.instance.pk %}
                <input type="submit" value="Create" class="btn-info">
            {% else %}
                <input type="submit" value="Update" class="btn-info">
            {% endif %}
        </form>
    </div>
{% endblock  %}