{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Patient Detail</h1>
        <br>
        <p> <label>First Name:</label> {{patient.first_name}}</p>
        <p> <label>Last Name:</label> {{patient.last_name}} </p>
        <p> <label>Person ID:</label> {{patient.person_id}} </p>
        <p> <label>Birth Date:</label> {{patient.birth_date}} </p>
        <p> <label>Address City:</label> {{patient.address_city}} </p>
        <p> <label>Address Street:</label> {{patient.address_street}} </p>
        <p> <label>Address PSC:</label> {{patient.address_psc}} </p>
        <p> <label>Address Country:</label> {{patient.address_country}} </p>
        <p> <label>Phone Number:</label> {{patient.phone_number}} </p>
        <p> <label>Insurance:</label> {{patient.insurance}} </p>
    </div>

{% endblock %}
