<!--
    TODO: radit pacienty podle abecedy
-->

{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Patient Detail</h1>
        <a href="{% url 'patients:patient_delete' pk=patient.pk %}">
            <button type="delete" class="btn-danger" style="float: right;">Delete</button>
        </a>
        {% if patient.registeredpatient %}
            <a href="{% url 'patients:patient_update' pk=patient.pk %}">
                <button type="edit" class="btn-info" style="float: right;">Edit</button>
            </a>
        {% else %}
            <a href="{% url 'patients:notreg_patient_update' pk=patient.pk %}">
                <button type="edit" class="btn-info" style="float: right;">Edit</button>
            </a>
        {% endif %}


        <table class="table table-bordered">
            <tr>
                <td> <label>First Name:</label></td>
                <td>{{patient.first_name}}</td>
            </tr>
            <tr>
                <td> <label>Last Name:</label> </td>
                <td>{{patient.last_name}}</td>
            </tr>
            <tr>
                <td> <label>Person ID:</label></td>
                <td>{{patient.person_id}}</td>
            </tr>
            <tr>
                <td> <label>Birth Date:</label></td>
                <td>{{patient.birth_date}}</td>
            </tr>
            <tr>
                <td> <label>Address City:</label></td>
                <td>{{patient.address_city}}</td>
            </tr>
            <tr>
                <td> <label>Address Street:</label></td>
                <td>{{patient.address_street}}</td>
            </tr>
            <tr>
                <td> <label>Address PSC:</label></td>
                <td>{{patient.address_psc}}</td>
            </tr>
            <tr>
                <td> <label>Adrress Country:</label></td>
                <td>{{patient.address_country}}</td>
            </tr>
            <tr>
                <td> <label>Phone Number:</label></td>
                <td>{{patient.phone_number}}</td>
            </tr>
            <tr>
                <td> <label>Insurance:</label></td>
                <td>{{patient.insurance}}</td>
            </tr>
            {% if patient.notregisteredpatient %}
                <tr>
                    <td> <label>Doctor Name:</label></td>
                    <td>{{patient.notregisteredpatient.doctor_first_name}}
                        {{patient.notregisteredpatient.doctor_last_name}}</td>
                </tr>
                <tr>
                    <td> <label>Doctor Phone:</label></td>
                    <td>{{patient.notregisteredpatient.doctor_phone}}</td>
                </tr>
                <tr>
                    <td> <label>Doctor Address:</label></td>
                    <td>{{patient.notregisteredpatient.doctor_address_city}},
                        {{patient.notregisteredpatient.doctor_address_street}}
                        {{patient.notregisteredpatient.doctor_address_psc}},
                        {{patient.notregisteredpatient.doctor_address_country}}</td>
                </tr>
            {% else %}
            <tr>
                <td> <label>Registration Date:</label></td>
                <td>{{patient.registeredpatient.registration_date}}</td>
            </tr>
            {% endif %}


        </table>
    </div>

{% endblock %}
