.jumbotron {
    background-color: white;
}

.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

.my_navbar {
    background-color: #66B2FF;
    /* border-bottom: 2px solid #CC0000; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a {
    color: white;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
     color: #FFF;
     background-color: #0066CC;
     /* background-color: #178ACC; */
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0066CC;
}

.navbar-default .navbar-toggle {
    border-color: #0066CC;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.btn-info {
    color: #FFF;
    /* background-color: #0066CC; */
    background: #66B2FF;
}

.btn-info:active {
    color: #FFF;
    background-color: #0066CC;
}

.btn-info:focus {
    background-color: #0066CC;
}

.btn-info:hover {
    background-color: #0066CC;
}

.btn-primary {
    background: #0066CC;
    background-color: #0066CC;
    color: #FFF;
}

.bg-primary {
    background: #0066CC;
    color: #FFF;
}

.bg-info {
    /* background-color: #0066CC; */
    background: white;
}

.pos_right {
    float: right;
}
