<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Enable Bootstrap mobile friendly styles -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
        <title>My Ambulamce</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

        <link rel="stylesheet" href="{% static 'css/master.css' %}">
    </head>

    <body>
        <nav class="my_navbar navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand" href="{% url 'home' %}">My Ambulance</a>
               </div>

               <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="navbar-link" href="{% url 'patients:patient_list' %}">Pacients</a> </li>
                        <li> <a class="navbar-link" href="{% url 'appointments:appointments_list' %}">Appointments</a> </li>
                        <li> <a class="navbar-link" href="{% url 'visits:visit_list' %}">Visits</a> </li>
                        {% if perms.invoices.view_invoice %}
                        <li> <a class="navbar-link" href="{% url 'invoices:invoice_list' %}">Invoices</a> </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li> <a class="navbar-link" href="{% url 'logout' %}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>
