{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <a href="{% url 'visits:visit_create' %}">
            <button type="button" class="btn btn-info btn-lg">ADD Visit</button>
        </a>
        <br>
        <br>
        <form action="" method="get">
            <table class="table table-bordered table-sm">
                <tr class="bg-info">
                {% for field in filter.form %}
                    <td>
                        {{field.label_tag}} {{field}}
                    </td>
                    {%if forloop.counter|divisibleby:"3" %}
                        </tr>
                        <tr class="bg-info">
                    {% endif %}
                {% endfor %}
            </table>
            <input type="submit" value="filter" class="btn-info">
        </form>
        <br>

        <table class="table table-hover">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">Patient Name</th>
                    <th scope="col">Personal ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for visit in filter.qs %}
                    <tr>
                        <td>{{visit.patient_id.first_name}} {{visit.patient_id.last_name}}</td>
                        <td>
                            <a href="{% url 'patients:patient_detail' pk=visit.patient_id.person_id %}">
                                {{visit.patient_id.person_id}}
                            </a>
                        </td>
                        <td>{{visit.visit_date}}</td>
                        <td>{{visit.visit_time}}</td>
                        <td>
                            <a href="{% url 'visits:visit_detail' pk=visit.pk %}">
                                <button type="button" class="btn-info">detail</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
