{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Appointment Detail</h1>
        <a href="{% url 'appointments:appointment_delete' pk=appointment.pk %}">
            <button type="delete" class="btn-danger" style="float: right;">Delete</button>
        </a>
        <a href="{% url 'appointments:appointment_update' pk=appointment.pk %}">
            <button type="edit" class="btn-info" style="float: right;">Edit</button>
        </a>

        <table class="table table-boarded">
            <tr>
                <td> <label>Date: </label></td>
                <td>{{appointment.appointment_date}}</td>
            </tr>
            <tr>
                <td> <label>Time: </label></td>
                <td>{{appointment.appointment_time}}</td>
            </tr>
            <tr>
                <td> <label>Patient Name: </label></td>
                <td>{{appointment.patient.first_name}} {{appointment.patient.last_name}}</td>
            </tr>
            <tr>
                <td> <label>Personal ID: </label></td>
                <td>
                    <a href="{{ appointment.patient.get_absolute_url }}"> {{ appointment.patient.person_id }} </a>
                </td>
            </tr>
            <tr>
                <td> <label>Creation Date: </label></td>
                <td>{{appointment.creation_date}}</td>
            </tr>
            <tr>
                <td> <label>Performances: </label> </td>
                <td></td>
            </tr>

        </table>
    </div>
{% endblock %}
