{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    {% if not form.instance.pk %}
        <h1>Create Perfomance</h1>
    {% else %}
        <h1>Update Performance</h1>
    {% endif %}
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field.errors}}
            <p>
            {% if field.field.required %}
                <span style="color:red;">*</span>
            {% endif %}
            <label for="{{ field.label }}">{{ field.label_tag }}</label>
            {{ field }}
            </p>
        {% endfor %}
        {% if not form.instance.pk %}
            <input type="submit" value="Create" class="btn-info">
        {% else %}
            <input type="submit" value="Update" class="btn-info">
        {% endif %}
    </form>
</div>

{% endblock  %}
